
include $(BUILD_DIR)/arch_config/cortex_m3.config
include $(COMMON_CONFIG_DIR)/common_include.mk

#CLINK_FLAGS += --library_type=microlib
#CLINK_FLAGS += -Wl,-T "$(PROJECT_DIR)/$(PROJECT)/stm32f103vet6.ld"
#CLINK_FLAGS += -Wl,-T "$(PROJECT_DIR)/$(PROJECT)/my_vet6.ld"
CLINK_FLAGS += -Wl,-T "$(PROJECT_DIR)/$(PROJECT)/st_vet6.ld"
CLINK_FLAGS += -Wl,--gc-sections
CLINK_FLAGS += -Wl,--cref
CLINK_FLAGS += -specs=nano.specs
#CLINK_FLAGS += -lc -lm -lnosys
CLINK_FLAGS += -mthumb
CLINK_FLAGS += -mthumb-interwork
CLINK_FLAGS += -fdata-sections -ffunction-sections
CLINK_FLAGS += -Wl,--wrap=atexit
CLINK_FLAGS += -nostartfiles
CLINK_FLAGS += -Wl,--nostdlib
#CLINK_FLAGS += -Wl,--print-gc-sections
#CLINK_FLAGS += -std=c99

#CFLAGS += -DSTM32F10X_HD 
CFLAGS += -DUSE_HAL_DRIVER -DSTM32F103xE
CFLAGS += -Wall
CFLAGS += -ggdb
CFLAGS += -fdata-sections -ffunction-sections
CFLAGS += -mthumb
CFLAGS += -mthumb-interwork
CFLAGS += -nostartfiles
#CFLAGS += -std=c99
#CFLAGS += -MMD -MP -MF "$(@:%.o=%.d)"

ASMFLAGS += -Wall
ASMFLAGS += -ggdb
ASMFLAGS += -fdata-sections -ffunction-sections
ASMFLAGS += -mthumb
ASMFLAGS += -mthumb-interwork
ASMFLAGS += -nostartfiles

#1.compile internal module
#CATOS
#demo
#Libraries
#port
#src
#	third_party
#		cm_backtrace
		CATOS_USE_CM_BACKTRACE 					=    n
	CATOS_USE_FLAG_GROUP 						=    n
	CATOS_USE_HOOKS      						=    n
	CATOS_USE_MAILBOX    						=    n
	CATOS_USE_MEM        						=    n
	CATOS_USE_MUTEX      						=    n
	CATOS_USE_SEM        						=    y

#user

#2.compile app module
#CATOS
#demo
#Libraries
#port
#src
#user
ifeq (CATOS_USE_CM_BACKTRACE, y)
	CFLAGS += -DUSER_USE_CM_BACKTRACE
endif




